.covid-text {
  font-size: 10rem;
  text-align: center;
  cursor: default;

  @media (max-width: 768px) {
    font-size: 5rem;
  }
}

.covid-new {
  font-size: 5rem;
  text-align: center;
  cursor: default;
  margin-top: -4rem;
  margin-bottom: 5rem;

  @media (max-width: 768px) {
    margin-top: -3rem;
  }
}

.covid-error-text {
  font-size: 5rem;
  text-align: center;
  cursor: default;
  margin-bottom: 6rem;

  @media (max-width: 768px) {
    font-size: 3rem;
  }
}