@import '../../../styles/utils.scss';

.todo-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  .tick {
    margin-right: 1rem;
  }

  .text {
    flex: 1;
    word-break: break-all;

    &.done {
      text-decoration: line-through;
    }
  }

  .delete {
    margin-left: 0.5rem;
    color: $oc-red-7;
    font-size: 0.8rem;

    &:hover {
      color: $oc-red-5;
      text-decoration: underline;
    }
  }

  &:nth-child(odd) {
    background: $oc-gray-0;
  }
  &:hover {
    background: $oc-gray-1;
  }

  .arrow-up {
    width: 15px;
    opacity: 0.5;

    &:hover{
      opacity: 1;
    }
  }

  .arrow-down {
    width: 15px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  .arrange-box {
    margin-left: -5px;
    margin-right: 5px;
  }
}

.todo-item + .todo-item {
  border-top: 1px solid $oc-gray-1;
}